<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iconoir.settings"
    android:sharedUserId="iconoir.userid">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvancedActivity"
            android:label="@string/menuAdvanced"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iconoir.settings.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iconoir.settings.MainActivity" />
        </activity>
        <activity
            android:name=".TargetActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iconoir.settings.MainActivity" />
        </activity>
        <activity
            android:name=".IconInstallActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iconoir.settings.MainActivity" />
        </activity>
        <activity
            android:name=".LicensesActivity"
            android:parentActivityName=".AboutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LicensesActivity" />
        </activity>
        <activity android:name=".AlertSetWallpaperActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iconoir.settings.MainActivity" />
        </activity>
    </application>

</manifest>